Package: com.tomaszpoliszuk.darkmodeflipswitch
Name: Dark Mode Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 13.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Toggle for Dark Mode.
Maintainer: Tomasz Poliszuk
Author: Tomasz Poliszuk
Section: Addons (Flipswitch)