Package: com.tomaszpoliszuk.darkmodeflipswitch
Depends: firmware (>= 13.0), mobilesubstrate, com.a3tweaks.flipswitch
Name: Dark Mode Flipswitch
Version: 0.2
Architecture: iphoneos-arm
Description: Toggle for Dark Mode.
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=darkmodeflipswitchDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=darkmodeflipswitchDp
Maintainer: BigBoss
Author: Tomasz Poliszuk
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Addons (Flipswitch)
dev: tomaszpoliszuk
Tag: purpose::extension, compatible::ios13
